.mark .designer-img {
    height: 50px;
}

.mark .star-img {
    width: 50px;
}

.animation-scroll {
    animation: scroll 15s linear infinite backwards;
}
@keyframes scroll {
    0% {
        transform: translate(0%);
    }
    100% {
        transform: translate(-100%);
    }
}